/* Container needed to position the button. Adjust the width as needed */

.polaroidframePosition {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px;
  width: 300px;
  height: 300px;
  align-items: center;
  position: relative;
}

.polaroidimagePosition {
  width: 95%;
  margin: 0 0 0 0;
  justify-content: center;
  height: 250px;
}

.selectImageButtonPosition {
  margin: 0 auto;
  width: 200px;
  position: relative;
  top: -350px;
}

.polaroidframe {
  background-color: #ededed;
  background: linear-gradient(#ededed, #f4f4f4 20%, #ededed 100%);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.44);
}

.polaroidimage {
  background-color: #bbbbbb;
  background-size: cover;
  -webkit-transition: 0.5s -webkit-filter linear;
  -moz-transition: 0.5s -moz-filter linear;
  -moz-transition: 0.5s filter linear;
  -ms-transition: 0.5s -ms-filter linear;
  -o-transition: 0.5s -o-filter linear;
  transition: 0.5s filter linear, 0.5s -webkit-filter linear;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.blurredImage {
  -webkit-filter: brightness(2.1) contrast(0.6) opacity(0.2);
  filter: brightness(2.1) contrast(0.6) opacity(0.2);
}

.selectImageButtonDark {
  color: #222;
  border: 0.2em solid #222;
  padding: 0.5em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  cursor: pointer;
}

svg {
  fill: #222;
  margin-right: 0.5em;
}

#stamp {
  position: relative;
  top: -120px;
  right: -100px;
  width: 120px;
  height: 120px;
  transform: rotate(20deg);
}

.fade {
	opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
  }
  80% {
		opacity: 1;
  }
  100% {
		opacity: 0;
	}
}

.loader {
  margin: 0 auto;
  position: relative;
  size: 50%;
  margin: -50px;
}

@media screen and (min-width:768px) {
  .polaroidframePosition {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px;
    width: 760px;
    height: 760px;
    align-items: center;
    position: relative;
  }
  .polaroidimagePosition {
    width: 95%;
    margin: 0 0 0 0;
    justify-content: center;
    height: 640px;
  }
  .selectImageButtonPosition {
    margin: auto;
    width: 400px;
    position: relative;
    top: -600px;
  }
  #stamp {
    position: relative;
    top: -120px;
    right: -300px;
    size: 200%;
    transform: rotate(20deg);
  }
}