body, html {
    height: 100%;
}

div {
    width: 100%; 
    height: 100%;
}

#mainImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}